body {
  font-family: Arial, sans-serif;
  background-color: #FFC5D3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  margin: 0;
}

.todo-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  width: 80%;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  background-color: #d3d3d3;
}

